:root {
  --preto: #000000;
  --branco: #ffffff;
  --cinza: #808080;
  --azul: #0000ff;
  --roxo-escuro: #48007e;
}
.profile-avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}
body {
  background-color: #000080;
}
body, input, textarea, button {
  font-size: 1rem;
  font-family: sans-serif;
  color: var(--branco);
  text-decoration: none;
}
button {
  background-color: var(--roxo-escuro);
  color: var(--branco);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
